{{- $book := .book -}}
<article class="book-card">
  <a class="book-cover" href="{{ $book.link }}" tabindex="-1" aria-hidden="true">
    <img src="{{ $book.cover }}" alt="" width="640" height="300">
  </a>
  <div class="book-info">
    {{- with $book.label }}
    <p class="book-label">{{ . }}</p>
    {{- end }}
    {{- if .h2 }}
    <h2 class="book-title"><a href="{{ $book.link }}">{{ $book.title }}</a></h2>
    {{- else }}
    <h3 class="book-title"><a href="{{ $book.link }}">{{ $book.title }}</a></h3>
    {{- end }}
    <p class="book-subtitle">{{ $book.subtitle }}</p>
    {{- with $book.badges }}
    <ul class="book-badges">
      {{- range . }}
      <li>{{ . }}</li>
      {{- end }}
    </ul>
    {{- end }}
    {{- with $book.summary }}
    <p class="book-summary">{{ . }}</p>
    {{- end }}
    <a class="button" href="{{ $book.link }}">Read online {{ partial "icon.html" "arrow-right" }}</a>
  </div>
</article>
