{{- $s := newScratch -}}
{{- partial "tutorial-flat.html" (dict "section" .root "scratch" $s) -}}
{{- $pages := $s.Get "pages" -}}
{{- $current := .current -}}
{{- $i := -1 -}}
{{- range $n, $p := $pages }}{{ if eq $p.RelPermalink $current.RelPermalink }}{{ $i = $n }}{{ end }}{{ end -}}
{{- $prev := false }}{{ $next := false -}}
{{- if gt $i 0 }}{{ $prev = index $pages (sub $i 1) }}{{ end -}}
{{- if and (ge $i 0) (lt (add $i 1) (len $pages)) }}{{ $next = index $pages (add $i 1) }}{{ end -}}
{{- if or $prev $next }}
<nav class="pager" aria-label="Tutorial pages">
  {{- with $prev }}
  <a class="prev" href="{{ .RelPermalink }}"><span>Previous</span>{{ .Title }}</a>
  {{- end }}
  {{- with $next }}
  <a class="next" href="{{ .RelPermalink }}"><span>Next</span>{{ .Title }}</a>
  {{- end }}
</nav>
{{- end }}
