<article class="book-card">
    <a class="book-cover" href="{{ .link }}">
        <img src="{{ .cover }}" alt="Cover of {{ .title }}">
    </a>
    <div class="book-info">
        <h3 class="book-title"><a href="{{ .link }}">{{ .title }}</a></h3>
        <p class="book-subtitle">{{ .subtitle }}</p>
        {{ with .badges }}
        <ul class="book-badges">
            {{ range . }}<li>{{ . }}</li>{{ end }}
        </ul>
        {{ end }}
        {{ with .summary }}<p class="book-summary">{{ . }}</p>{{ end }}
        <a class="btn book-read" href="{{ .link }}">Read online <i class="fas fa-arrow-right"></i></a>
    </div>
</article>
