{{- /* One page per book: static/books/<slug>/index.html is served at /books/<slug>/ by layouts/books/page.html.
       Like the static files they replace, the pages stay out of lists, feeds and the sitemap;
       render has to be set as well, or Hugo doesn't write them. */}}
{{- range readDir "static/books" }}
  {{- $file := printf "static/books/%s/index.html" .Name }}
  {{- if and .IsDir (fileExists $file) }}
    {{- $.AddPage (dict
      "path" .Name
      "title" .Name
      "params" (dict "file" $file)
      "build" (dict "list" "never" "render" "always")
    ) }}
  {{- end }}
{{- end }}
